{% extends 'base.html.twig' %}

{% block body %}
 <div class="card fin">
  <h1>Fin des étapes</h1>
  <span class="success-icon"><img src="{{ asset('assets/img/succes.png') }}" alt="" class="img-fluid"></span>
  <div class="message">
   <p>Merci d'avoir complété toutes les étapes</p>
   <p>Vos besoins ont été enregistrés avec succès.</p>
  </div>
 </div>
{% endblock %}

{% block title %}
 Succès
{% endblock %}

