{% extends 'base.html.twig' %}

{% block title %}Rotary Atlantis :  Recueil des besoins en formations {% endblock %}

{% block body %}
    <div class="card">
        <div class="row">
            <div class="col-lg-8 offset-2">
                <div class="row">
                    <div class="col-6 col-md-6 offset-sm-3 ">
                        <img src="{{ asset('assets/img/logo2023.png') }}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h1 class="text-center titre">Sondage des besoins en formation</h1>
                <ul class="nav nav-tabs nav-justified">
                    <li class="nav-item"><a href="#" class="nav-link active">Etape 1</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Etape 2</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Etape 3</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Etape 4</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Etape 5</a></li>
                </ul>
                <div class="tab-content mt-2 mb-2">
                    <div class="tab-pane fade show active" id="step1">
                        <div class="row justify-content-center">
                            <div class="col-md-8 mt-5">
                                <div class="progress mb-4">
                                    <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Progression 0%</div>
                                </div>
                                <div class="alert alert-warning">
                                    <strong><em>Cette étape est facultative</em></strong>
                                </div>
                            </div>
                        </div>
                        {{ include('home/_form_stepone.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        form.addEventListener('submit', function (event) {
            const submitButton = form.querySelector('button[type="submit"]');
            submitButton.disabled = true;
            submitButton.classList.add('button-disabled');
        })
    </script>
{% endblock %}
