{% extends 'base.html.twig' %}

{% block title %}Rotary Atlantis :  Recueil des besoins en formations {% endblock %}

{% block body %}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">Suivant</button>
    {{ form_end(form) }}
{% endblock %}
